<!DOCTYPE html>
<html>

<head>
	<meta charset='UTF-8'>
	
	<title>Progress Bars</title>
	
	<link rel='stylesheet' type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
	<link rel='stylesheet' type="text/css" href="{{ url_for('static',filename='css/generic.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='progressicon.ico') }}">
	
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js "></script>
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/loading-bar.css') }}"/>
	<script type="text/javascript" src="{{ url_for('static',filename='loading-bar.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='scripts.js') }}"></script>
	
	<style id="global_style">
	* {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	</style>

</head>

<body>

	<div id="page-wrap" style="float:left">

	</div>

	
</body>

</html>